In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
Path = 'drive/My Drive/datasets'

In [3]:
import pandas as pd

# Trying reading the file with 'latin-1' encoding
df = pd.read_csv(Path+'/Online_game.csv')

In [4]:
print("frist 10 rews")
print(df.head(10))

frist 10 rews
   Rank                       Name Platform    Year         Genre Publisher  \
0     1                 Wii Sports      Wii  2006.0        Sports  Nintendo
1     2          Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3             Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4          Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5   Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo
5     6                     Tetris       GB  1989.0        Puzzle  Nintendo
6     7      New Super Mario Bros.       DS  2006.0      Platform  Nintendo
7     8                   Wii Play      Wii  2006.0          Misc  Nintendo
8     9  New Super Mario Bros. Wii      Wii  2009.0      Platform  Nintendo
9    10                  Duck Hunt      NES  1984.0       Shooter  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37
5     23.20      2.26      4.22         0.58         30.26
6     11.38      9.23      6.50         2.90         30.01
7     14.03      9.20      2.93         2.85         29.02
8     14.59      7.06      4.70         2.26         28.62
9     26.93      0.63      0.28         0.47         28.31

In [5]:
print("last 10 rews")
print(df.tail(10))

last 10 rews
        Rank                                               Name Platform  \
16588  16591                                   Mega Brain Boost       DS
16589  16592  Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...      PSV
16590  16593  Eiyuu Densetsu: Sora no Kiseki Material Collec...      PSP
16591  16594                                Myst IV: Revelation       PC
16592  16595                                           Plushees       DS
16593  16596                 Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                      Men in Black II: Alien Escape       GC
16595  16598   SCORE International Baja 1000: The Official Game      PS2
16596  16599                                         Know How 2       DS
16597  16600                                   Spirits & Spells      GBA

         Year         Genre              Publisher  NA_Sales  EU_Sales  \
16588  2008.0        Puzzle  Majesco Entertainment      0.01      0.00
16589  2016.0        Action        dramatic create      0.00      0.00
16590  2007.0  Role-Playing     Falcom Corporation      0.00      0.00
16591  2004.0     Adventure                Ubisoft      0.01      0.00
16592  2008.0    Simulation              Destineer      0.01      0.00
16593  2002.0      Platform                  Kemco      0.01      0.00
16594  2003.0       Shooter             Infogrames      0.01      0.00
16595  2008.0        Racing             Activision      0.00      0.00
16596  2010.0        Puzzle               7G//AMES      0.00      0.01
16597  2003.0      Platform                Wanadoo      0.01      0.00

       JP_Sales  Other_Sales  Global_Sales
16588      0.00          0.0          0.01
16589      0.01          0.0          0.01
16590      0.01          0.0          0.01
16591      0.00          0.0          0.01
16592      0.00          0.0          0.01
16593      0.00          0.0          0.01
16594      0.00          0.0          0.01
16595      0.00          0.0          0.01
16596      0.00          0.0          0.01
16597      0.00          0.0          0.01

In [6]:
print("describe dataset")
print(df.describe())

describe dataset
               Rank          Year      NA_Sales      EU_Sales      JP_Sales  \
count  16598.000000  16327.000000  16598.000000  16598.000000  16598.000000
mean    8300.605254   2006.406443      0.264667      0.146652      0.077782
std     4791.853933      5.828981      0.816683      0.505351      0.309291
min        1.000000   1980.000000      0.000000      0.000000      0.000000
25%     4151.250000   2003.000000      0.000000      0.000000      0.000000
50%     8300.500000   2007.000000      0.080000      0.020000      0.000000
75%    12449.750000   2010.000000      0.240000      0.110000      0.040000
max    16600.000000   2020.000000     41.490000     29.020000     10.220000

        Other_Sales  Global_Sales
count  16598.000000  16598.000000
mean       0.048063      0.537441
std        0.188588      1.555028
min        0.000000      0.010000
25%        0.000000      0.060000
50%        0.010000      0.170000
75%        0.040000      0.470000
max       10.570000     82.740000

In [7]:
print("info dataset")
print(df.info())

info dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB
None

In [9]:
print("shape dataset")
print(df.shape)

shape dataset
(16598, 11)